<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Edit User Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Life is not esay</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{ url }}/../../static/custom/css/survey.edit.css" />
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='custom/css/survey.edit.css') }}" /> -->


</head>
<body ng-app="myApp" ng-controller="bodyController">
{#<nav class="navbar fixed-top navbar-light bg-light nav nav-masthead justify-content-center " style="overflow: hidden; white-space: nowrap; flex-wrap: nowrap">#}
{#    {% for it in keys %}#}
{#        <a class="nav-item nav-link" href="#">{{ it }}</a>#}
{#    {% endfor %}#}
{#</nav>#}
<nav class="navbar fixed-top navbar-light bg-light ">
    <input type="search" class="form-control form-control-sm col-9" value="" />

    <button class="btn btn-sm btn-outline-secondary col-2">-></button>

</nav>
<br />
<br />

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="v-face" role="tabpanel" >
        <h3>Welcome</h3>
        <input name="date" class="form-control" ng-model="TODAY"  disabled />
        <br />
        <input name="user" class="form-control" ng-model="user" placeholder="姓名" />
        <input name="teaage" type="number" class="form-control" ng-model="teaage" placeholder="茶龄" />
    </div>
<!--
    <div class="tab-pane fade show active" id="v-form1" role="tabpanel" >
        <form name="" class="form">
            <div ng-repeat="data in [1,2,3]" ng-include="survey_form.html"></div>
        </form>
    </div>
    -->
    <div class="tab-pane fade show active" id="v-form1" role="tabpanel" >
        <form name="" class="form">
            {% with formIdx=0 %}
            {% include 'survey/survey_form.html' %}
            {% endwith %}
        </form>
    </div>
    <div class="tab-pane fade" id="v-form2" role="tabpanel" >
        <form name="" class="form">
            {% with formIdx=1 %}
            {% include 'survey/survey_form.html' %}
            {% endwith %}
        </form>
    </div>
    <div class="tab-pane fade" id="v-form3" role="tabpanel" >
        <form name="" class="form">
            {% with formIdx=2 %}
            {% include 'survey/survey_form.html' %}
            {% endwith %}
        </form>
    </div>
    <div class="tab-pane fade" id="v-form4" role="tabpanel" >
        <form name="" class="form">
            {% with formIdx=3 %}
            {% include 'survey/survey_form.html' %}
            {% endwith %}
        </form>
    </div>

</div>

<footer class="footer fixed-bottom">
  <nav class="navbar navbar-light bg-light    nav nav-pills nav-fill" id="pills-tab" role="tablist">
{#  <a class="navbar-brand" href="#">Fixed bottom</a>#}

{#      <a id="face" data-toggle="pill" class="nav-link " href="#v-face" role="tab" >&#9776;</a>#}
      <a id="face" data-toggle="pill" class="nav-link " href="#v-face" role="tab" >&#9786;</a>
      <a id="form1" data-toggle="pill" class="nav-link active" href="#v-form1" role="tab" >1</a>
      <a id="form2" data-toggle="pill" class="nav-link" href="#v-form2" role="tab" >2</a>
      <a id="form3" data-toggle="pill" class="nav-link" href="#v-form3" role="tab" >3</a>
      <a id="form4" data-toggle="pill" class="nav-link" href="#v-form4" role="tab" >4</a>
      <button ng-click="submit()" class="btn btn-success">Save</button>

  </nav>
</footer>

<div id="saveModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body" style="text-align: center">
        Saved Successfully!
      </div>

    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>


<script>

    var app = angular.module('myApp', []);

    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{-').endSymbol('-}');
    });


    console.log(location.href)
    app.controller('bodyController', function($scope, $http) {
        $scope.wordDataModels = [[],[],[],[]]
        // $scope.isSelected = -1
        // $scope.isCar = 0
        $http({
            method: 'GET',
            url: "/service/data/word/"
            // url: location.href + "/../../static/resources/source2.json"
            //url: 'http://localhost:5000/static/resources/source2.json'
        }).then(function successCallback(response) {
                $scope.word_data = response.data;
                $scope.newData = $scope._processData(response.data)
                // swap 1, 2
                var tmpObj = $scope.newData.struct[1]
                $scope.newData.struct[1] = $scope.newData.struct[2]
                $scope.newData.struct[2] = tmpObj

                console.log($scope.word_data)
                console.log($scope.newData)


                // create data models for latter exclusive relationship, indexed by wordId
                $scope.newData.struct.forEach(function (catObj) {
                    if (catObj.child){
                        catObj.child.forEach(function (subCatObj) {
                            subCatObj.words.groups.forEach(function (groupObj) {
                                groupObj.forEach(function (wordObj) {
                                    for(var formIdx=0; formIdx<4;formIdx++){
                                        $scope.wordDataModels[formIdx][wordObj.id] = {'excFlag': 0, 'isSelected':false}
                                    }
                                    // $scope.wordDataModels[wordObj.id] = {'excFlag': 0, 'isSelected':false}
                                })
                            })
                        })
                    } else {
                        catObj.words.groups.forEach(function (groupObj) {
                            groupObj.forEach(function (wordObj) {
                                for (var formIdx=0; formIdx<4;formIdx++){
                                    $scope.wordDataModels[formIdx][wordObj.id] = {'excFlag': 0, 'isSelected':false}
                                }
                                // $scope.wordDataModels[wordObj.id] = {'excFlag': 0, 'isSelected':false}
                            })
                        })
                    }
                })
            }, function errorCallback(response) {
                // 请求失败执行代码
        });

        // temporary use
        $scope._processData = function (origin) {
            newData = {}
            // extract the structure
            newData.struct = []
            for(cat in origin){
                obj = {'cat':cat}
                if (Object.prototype.toString.call(origin[cat]).match(/Object/)){
                    obj.child = []
                    for (subcat in origin[cat]){
                        subobj = {'cat':subcat}
                        obj.child.push(subobj)
                    }
                }
                newData.struct.push(obj)
            }
            // make up the words
            newData.words = []
            newData.struct.forEach(function(catObj, i){
                catName = catObj.cat
                var groups = $scope._groupByInc(origin[catName])
                if (groups){
                    catObj.words = {'groups':[]}
                    catObj.words.groups = groups
                }
                // catObj.words = origin[catName]
                // newData.words.push.apply(newData.words, origin[catName])  // concat 2 array

                // loop if any child
                for (i in catObj.child){
                    subCatName = catObj.child[i].cat
                    var groups = $scope._groupByInc( origin[catName][subCatName])
                    catObj.child[i].words = {'groups':[]}
                    catObj.child[i].words.groups = groups
                }
            })

            return newData
        }

        $scope._groupByInc = function(words){
            // if sub cat
            if (Object.prototype.toString.call(words).match(/Object/)){
                return null
            }

            // divide into groups by inclusion
            var groups = []
            words.forEach(function (wordObj, i) {
                var inclusion = wordObj.inc || 0      //  assign 0 if it's null
                groups[inclusion] = groups[inclusion] || []   // create new array if groups[inclusion] is not defined
                groups[inclusion].push(wordObj)
            })

            return groups
        }


        $scope.TODAY = (new Date()).toJSON().substr(0,10)
        $scope.keys = ["干茶香", "茶汤下咽后的感觉", "茶汤入口", "茶汤的整体滋味变化", "身体对茶的反应"]
        $scope.subkeys = [[], ["停口留香", "喉部", "回甘", "生津"], ["口感","杯底香","滋味","涩","苦","香"], [], []]
        $scope.comments = [[], [], [], [], []]
        $scope.full_data = [{"values":[], "comments": []},
                            [{},{},{},{}], [{},{},{},{},{},{}], [], []]


        $scope.survey_data = [
            {"key":"干茶香",
            "values":[

            ]},
            {"key":"茶汤下咽后的感觉",
            "subkeys":[
                {"key": "停口留香", "values": { }},
                {"key": "喉部", "values": { }},
                {"key": "回甘", "values": { }},
                {"key": "生津", "values": { }}
            ]
            },
            {"key":"茶汤入口",
            "subkeys":[
                {"key": "口感", "values": { }},
                {"key": "杯底香", "values": { }},
                {"key": "涩化", "values": { }},
                {"key": "苦化", "values": { }},
                {"key": "香", "values": { }}
            ]
            },
            {"key":"茶汤的整体滋味变化",
            "values":[

            ]},
            {"key":"身体对茶的反应",
            "values":[

            ]},
        ]

        $scope.submit = function () {
            var surveyData = _buildFormData()
            var surveyWord = _surveyWord()

            var returnData = {"keys":$scope.keys, "subs":$scope.subkeys, "user":$scope.user, "teaAge":$scope.teaage, "date":$scope.TODAY, "surveyData": surveyData, 'surveyWord':surveyWord}

            $http({
                method: 'POST',
                url: location.href + "/../../survey/save", //url: '/survey/save',
                data: returnData
            }).then(function successCallback(response) {
                $('#saveModal').modal('show')
                console.log(response.data)
                }, function errorCallback(response) {
            });
        }

        function _deselete(currEl, cat_words, word, formIdx) {
            console.log('de-select ', word)
            var currForm = $scope.wordDataModels[formIdx]
            currForm[word.id].isSelected = false    // data model
            _toggleSelData(currEl, false)  // will be removed
            console.log('  data model change to ', currForm[word.id])

            // revert exclusive flag
            var toggleObjList = _exclude_toggle(cat_words, word)
            console.log(' exclude toggle list(-1) ', toggleObjList)
            toggleObjList.forEach(function (wordObj) {
                var wId = wordObj.id
                currForm[wId].excFlag -= 1
            })
        }
        function _select(currEl, cat_words, word, formIdx) {
            console.log('select ', word)
            var currForm = $scope.wordDataModels[formIdx]
            currForm[word.id].isSelected = true   // data model
            _toggleSelData(currEl, true)  // will be removed
            console.log('  data model change to ', currForm[word.id])

            // add exclusive flag
            var toggleObjList = _exclude_toggle(cat_words, word)
            console.log(' exclude toggle list(+1) ', toggleObjList)
            toggleObjList.forEach(function (wordObj) {
                var wId = wordObj.id
                currForm[wId].excFlag += 1

                if (currForm[wId].isSelected) {
                    console.log('    trigger de-select ', wordObj)
                    var subEl = document.getElementById('w_'+wId)
                    _deselete(subEl, cat_words, wordObj, formIdx)
                }
            })
        }
        $scope.itemToggle_new = function (e, cat_words, word, formIdx) {
            console.log('formIdx', formIdx)
            var currEl = e.currentTarget
            if (currEl.className.match(/btn-primary/)){
                console.log('>>', 'deselect')
                _deselete(currEl, cat_words, word, formIdx)
                console.log('<<', 'deselect')
            } else {
                console.log('>>', 'select')
                _select(currEl, cat_words, word, formIdx)
                console.log('<<', 'select')
            }
        }

        // @Deprecated
        /*
        $scope.itemToggle = function (e, cat_words, word) {
            var currEl = e.currentTarget

            var clsName = currEl.className
            if (currEl.className.includes('btn-primary')){
                currEl.className = clsName.replace(/btn-primary/, 'btn-outline-primary')
                _toggleSelData(currEl, false)
            } else {
                currEl.className = clsName.replace(/(btn-outline-primary|btn-outline-secondary)/, 'btn-primary')
                _toggleSelData(currEl, true)
            }

            var wId = word.id
            // selected
            if (clsName.match(/btn-primary/)){
                $scope.wordDataModels[wId].excFlag = 0  // clear the exclusive status if any
                var toggleObjList = _exclude_toggle(cat_words, word)
                toggleObjList.forEach(function (wordObj) {
                    var id = wordObj.id
                    $scope.wordDataModels[id].excFlag += 1
                    var el = document.getElementById('w_'+id)
                    _toggleSelData(el, false)
                })
            } else{ // de-selected

            }

            // reset last time exclusive dom list
            console.log($scope.lastExcDomList)
            $scope.lastExcDomList.forEach(function (el) {
                var className = el.className
                el.className = className.replace(/btn-outline-secondary/, 'btn-outline-primary')
            })
            // clear dom list
            $scope.lastExcDomList = []

            //console.log(cat_words)
            // toggle related exclusive words
            //var excToggleList = _exclude_toggle(cat_words, word)
            //console.log(excToggleList)
            //excToggleList.forEach(function (wordObj) {
            //    var id = 'w_' + wordObj.id
            //    var el = document.getElementById(id)
            //    var className = el.className

            //    if (className.match(/btn-outline-primary/)){
            //        el.className = className.replace(/btn-outline-primary/, 'btn-outline-secondary')
            //    }
            //    if (className.match(/btn-primary/)){
            //        _toggleSelData(el, false)
            //        el.className = className.replace(/btn-primary/, 'btn-outline-secondary')
            //    }
            //    $scope.lastExcDomList.push(el)  // push history list
            //})
        }
        */
        function _exclude_toggle(cat_words, currWord) {
            if (!currWord.exc){
                return
            }
            // console.log('exc:' , currWord.exc)
            var excCond = _parseExcCondition(currWord.exc)
            // console.log(excCond)

            var toggle_list = []
            cat_words.groups.forEach(function (words) {
                words.forEach(function (word) {
                    if (word.exc){
                        var excCondition = _parseExcCondition(word.exc)

                        // strong condition match
                        excCond.strong.forEach(function (ruleNum) {
                            if (excCondition.strong.includes(ruleNum) || excCondition.week.includes(ruleNum)){
                                if (word != currWord){
                                    toggle_list.push(word)
                                }
                            }
                        })
                        // week condition match
                        excCond.week.forEach(function (ruleNum) {
                            if (excCondition.strong.includes(ruleNum)){
                                if (word != currWord){
                                    toggle_list.push(word)
                                }
                            }
                        })
                    }
                })
            })

            return toggle_list
        }

        function _parseExcCondition(excString) {
            var conditionList = excString.split(':')
            var strongCond = [], weekCond = []
            if (conditionList[0]){
                strongCond = conditionList[0].split(",")
            }
            if (conditionList[1]){
                weekCond = conditionList[1].split(",")
            }
            var excList = {
                'strong': strongCond,
                'week':weekCond
            }
            return excList
        }

        function _toggleSelData(el, bool) {
            el.setAttribute('data-selected', bool)
        }

        function _surveyWord() {
            var surveyWord = [{},{},{},{}]
            surveyWord.forEach(function (obj) {
                obj.words = []
                obj.comments = []
            })

            $scope.wordDataModels.forEach(function (form, formIdx) {
                form.forEach(function (model, i) {
                    if (model.isSelected){
                        surveyWord[formIdx].words.push({'id':i})
                    }
                })

                // comments, latter change to angular model
                var commentsNode = document.forms[formIdx].querySelectorAll('input[data-cat]')
                commentsNode.forEach(function (input) {
                    var cat = input.getAttribute('data-cat')
                    var sub = input.getAttribute('data-sub')
                    var value = input.value
                    if (value){
                        surveyWord[formIdx].comments.push({'cat':cat, 'sub':sub||"", 'val':value})
                    }
                })
            })

            return surveyWord
        }

        function _buildFormData() {
            var surveyDataSet = []

            for(var i=0; i<4; i++){
                var surveyData = {
                "干茶香": {
                    "values": [],
                    "comments": ""
                },
                "茶汤下咽后的感觉": {
                    "停口留香": {"values": [],"comments": ""},
                    "喉部": {"values": [], "comments": ""},
                    "回甘": {"values": [], "comments": ""},
                    "生津": {"values": [], "comments": ""}
                },
                "茶汤入口": {
                    "口感": {"values": [], "comments": ""},
                    "杯底香": {"values": [], "comments": ""},
                    "滋味": {"values": [], "comments": ""},
                    /*"涩化": {"values": [], "comments": ""},
                    "苦化": {"values": [], "comments": ""},*/
                    "涩": {"values": [], "comments": ""},
                    "苦": {"values": [], "comments": ""},
                    "香": {"values": [], "comments": ""}
                },
                "茶汤的整体滋味变化": {
                    "values": [],
                    "comments": ""
                },
                "身体对茶的反应": {
                    "values": [],
                    "comments": ""
                }
            }

                // pack up the item
                var nodeList = document.forms[i].querySelectorAll('button[data-selected="true"]')
                nodeList.forEach(function (obj, i) {
                    console.log(obj)
                    var cat = obj.name
                    var sub = obj.getAttribute('data-sub')
                    var prop = obj.value
                    var key = obj.getAttribute('data-key')
                    var value = obj.getAttribute('data-val')

                    var wId = obj.id

                    console.log(cat, sub, prop, key, value, wId)

                    if (sub){
                        // surveyData[cat][sub].values.push(prop)
                        console.log(cat, sub )
                        console.log(surveyData[cat])
                        console.log(surveyData[cat][sub])

                        surveyData[cat][sub].values.push({'key':key, "prop":prop, "value":value, 'id':wId.substr(2)})
                    } else{
                        // surveyData[cat].values.push(prop)
                        surveyData[cat].values.push({'key':key, "prop":prop, "value":value, 'id':wId.substr(2)})
                    }
                })

                // pack up the comments
                var commentsNode = document.forms[i].querySelectorAll('input[data-cat]')
                commentsNode.forEach(function (input, i) {
                    var cat = input.getAttribute('data-cat')
                    var sub = input.getAttribute('data-sub')
                    var value = input.value

                    // var catKey = $scope.keys[cat]
                    // var subKey = $scope.subkeys[cat][sub]
                    var catKey = input.getAttribute('data-cat')
                    var subKey = input.getAttribute('data-sub')

                    console.log(">>>>>>>>>>", catKey, subKey)
                    if(sub){
                        surveyData[catKey][subKey].comments = value
                    } else{
                        surveyData[catKey].comments = value
                    }
                })

                surveyDataSet.push(surveyData)
            }

            return surveyDataSet
        }

    });


</script>
</body>
</html>