

<div class="card card-body bg-white" style="margin-bottom: 3em">

    <h5>干茶香</h5>
    <section class="category" >
        <div class="props-box">
             <div ng-repeat="x in word_data['干茶香']" class="prop" >
                 <button ng-click="itemToggle($event)" class="btn btn-outline-primary btn-sm" name="干茶香" value='[[ x.name ]]' data-key="[[x.key]]" data-value="[[x.value]]" data-sub="" data-selected="false">[[ x.name ]]</button>
            {#     <a class="card-link" href="#">[[ x.name ]]</a>#}
             </div>
        </div>
        <div class="comments" style="" value="">
{#            <label>补充：</label>#}
            <input class="" value="" data-cat="干茶香" placeholder="补充：" />
        </div>
    </section>

    <h5>茶汤入口</h5>
    <section ng-repeat="(k, v) in word_data['茶汤入口']" class="category" >
        <div class="sub-cat">
            <h6>[[k]]</h6>

            <div class="props-box">
                <div ng-repeat="it in v" class="prop">
                 <button ng-click="itemToggle($event)" class="btn btn-outline-primary btn-sm" name="茶汤入口" value="[[it.name]]" data-sub="[[k]]" data-key="[[it.key]]" data-value="[[it.value]]" data-selected="false">[[it.name]]</button>
                </div>
            </div>
            <div class="comments" style="" value="">
                <input class="" value=""  data-cat="茶汤入口" data-sub="[[ k ]]" placeholder="补充：" />
            </div>
        </div>
    </section>

    <h5>茶汤下咽后的感觉</h5>
    <section ng-repeat="(k, v) in word_data['茶汤下咽后的感觉']" class="category" >

        <div class="sub-cat">
            <h6>[[k]]</h6>

            <div class="props-box">
                <div ng-repeat="it in v" class="prop">
                 <button ng-click="itemToggle($event)" class="btn btn-outline-primary btn-sm" name="茶汤下咽后的感觉" value="[[it.name]]" data-sub="[[k]]" data-key="[[it.key]]" data-value="[[it.value]]"  data-selected="false">[[it.name]]</button>
                </div>
            </div>

            <div class="comments" style="" value="">
                <input class="" value="" data-cat="茶汤下咽后的感觉" data-sub="[[ k ]]" placeholder="补充：" />
            </div>
        </div>
    </section>

    <h5>茶汤的整体滋味变化</h5>
    <section class="category" >
        <div class="props-box">
             <div ng-repeat="x in word_data['茶汤的整体滋味变化']" class="prop" >
                 <button ng-click="itemToggle($event)" class="btn btn-outline-primary btn-sm " name="茶汤的整体滋味变化" value="[[ x.name ]]" data-sub="" data-key="[[x.key]]" data-value="[[x.value]]"  data-selected="false">[[ x.name ]]</button>
            {#     <a class="card-link" href="#">[[ x.name ]]</a>#}
             </div>
        </div>
        <div class="comments" style="" value="">
            <input class="" value=""  data-cat="茶汤的整体滋味变化" placeholder="补充：" />
        </div>
    </section>

    <h5>身体对茶的反应</h5>
    <section class="category" >
        <div class="props-box">
             <div ng-repeat="x in word_data['身体对茶的反应']" class="prop" >
                 <button ng-click="itemToggle($event)" class="btn btn-outline-primary btn-sm " name="身体对茶的反应" value="[[ x.name ]]" data-sub="" data-key="[[x.key]]" data-value="[[x.value]]"  data-selected="false">[[ x.name ]]</button>
            {#     <a class="card-link" href="#">[[ x.name ]]</a>#}
             </div>
        </div>
        <div class="comments" style="" value="">
            <input class="" value="" data-cat="身体对茶的反应" placeholder="补充：" />
        </div>
    </section>

{#{% for it in data['茶汤入口'] %}#}
{#<h6>{{ it }}</h6>#}
{#<div class="" style="display: flex; flex-wrap: wrap; justify-content: space-between;">#}
{##}
{#        {% for i in data['茶汤入口'][it] %}#}
{#            <div class="" style="margin: .2em">#}
{#            <button class="btn btn-outline-primary btn-sm ">{{ i.name }}</button>#}
{#            </div>#}
{#        {% endfor %}#}
{##}
{#</div>#}
{#{% endfor %}#}

</div>